### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Cryptanalyst.iml
/.idea/

# Default ignored app.files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored app.files
/dataSources/
/dataSources.local.xml
# my ignored
target/
.idea/
.idea
.repository/
out/
/out/
/out.log
/out.log.*
/sonarlint/
/src/app/files/
/src/app/filesDecrypt/
/src/app/filesEncrypt/
